.config-bg {
    background-color: purple;
}

// 选项卡
.el-space__item > div {
    background-color: darkslateblue;
    border-radius: 8px;
}

// 文字框
.pure-text {
    font-size: small;
    padding-right: 15px;
    line-height: 32px;
    color: lightgray;
}

// 单选框
.el-radio {
    color: lightgray;
}

// switch
.el-switch {
    padding-right: 10px;
    --el-switch-on-color: #13ce66; 
    --el-switch-off-color: #ff4949;
}

// 按钮
.el-button.is-text:not(.is-disabled):hover {
    background-color: transparent;
    text-shadow: 0 0 10px yellow;
}

.el-button.is-text:not(.is-disabled):active,
.el-button.is-text:not(.is-disabled):focus {
    background-color: transparent;
}

//
.el-drawer {
    background-color: transparent;
}